@page "/users"
@using BlazorApp_SocialNetwork.Data
@inject BlazorApp_SocialNetwork.IService.IServiceObj<User> userService
@inject Account.Password currentPassword
<h3>Please log in</h3>

<div class="row">
    <div class="col-nd-4">
        <h4>This block is only for editing and adding new info:</h4>
        <label>What's your firstname?:</label>
    </div>
    <div class="col-nd-8">
        <input @bind="user.firstname" style="width:40%;" placeholder="Firstname" />
    </div>
</div>
<div class="row">
    <div class="col-nd-4">
        <label>What's your lastname:</label>
    </div>
    <div class="col-nd-8">
        <input @bind="user.lastname" style="width:40%;" placeholder="Lastname" />
    </div>
</div>

<div class="row">
    <div class="col-nd-4">
        <label>Your email</label>
    </div>
    <div class="col-nd-8">
        <input @bind="user.Email" style="width:40%;" placeholder="Email" />
    </div>
</div>
<div class="row">
    <div class="col-nd-4">
        <label>Your password:</label>
    </div>
    <div class="col-nd-8">
        <input @bind="user.Password" type="number" style="width:40%;" placeholder="Password" />
    </div>
</div>


<div class="row">
    <div class="col-nd-4"></div>
    <div class="col-nd-8">
        <button class="btn btn-primary" @onclick="@(e=>Save())">Save your info</button>
        <button class="btn btn-danger" @onclick="@(e=>Reset())" style="float:right">Reset</button>
    </div>
</div>





@code {
    User user = new User();
    List<User> usersArr = new List<User>();


    protected override async Task OnInitializedAsync()
    {
        GetUsers();
    }
    private void GetUsers()
    {
        usersArr = userService.GetUsers();
    }
    private void Save()
    {

        userService.SaveOrUpdate(user);
        Reset();
        GetUsers();
    }
    private void Reset()
    {
        user = new User();
    }

}
